@{
    ViewData["Title"] = "About";
}

<div class="row">
    <div class="col-md-6">
        <img class="img-fluid" src="~/lib/ian_profile_picture.jpg" alt="Responsive image">
    </div>
    <div class="col-md-6">
        <h2>About Me</h2>
        <p>
            My name is Ian Schoenrock and I serve the world by making cool things with code. I love writing software and creating applications on all platforms while helping others do the same. I spend most
            of my time switching between Kotlin and C# as I love to make mobile apps but I also love to make APIs for them. When I started Android development I used to be mainly passionate about Java and making
            Android apps, however after making apps and seeing the way a well made application can make a huge impact on peoples lives I started to become more and more passionate about the actual product rather than the technology.
            Now I love to make things that are meaningful, however I also write code purely as a hobby. I love to try new frameworks, libraries, programming languages, and even different coding styles. After I learn something interesting
            I like to document it. Sometimes this will be on my github, or my personal documentation, or I'll make a youtube series about it. Feel free to check out some of my project here listed on my site as well as some of the built in apps in the site.
        </p>
        <p>I'm always open to working on meaningful projects, so if you have one that needs well-written software please contact me!</p>

    </div>
</div>

