@{
    ViewData["Title"] = "Ian Schoenrock";
}

    <div class="row">
        <div class="col-md-8">
            <h1>Ian Schoenrock</h1>
            <h4> Software Engineer | Consultant | Avid Programmer</h4>
            <p style="font-size:18px;">
                I'm a Software Engineer specializing in Mobile Development and Web Backend with ASP.NET Core. When I'm not consulting I am experimenting with a new technology or development technique.
                I'm currently taking clients and would love to help you get your product out to market and make your users happy. I also run a programming tutorial youtube channel in my spare time.
            </p>
            <p>I'm working on an app called wayahead. It helps connects people to mentors in the field they are interested in. For more information check out the wayahead website! </p>
            <a href="https://wayahead.io/">wayahead</a>
            <p></p>
            <p>My 51 video C# course is out and available on youtube! I'm currently working on remaking twitter using ASP.NET Core. It will be my biggest course yet with Full backend and I will go over making it in Native iOS and Android as well as Xamarin. </p>
            <a href="https://www.youtube.com/playlist?list=PLq5Uz3LSFff8GmtFeoXRZCtWBKQ0kWl-H">C# Course</a>
            <p></p>
            <a href="https://www.youtube.com/playlist?list=PLq5Uz3LSFff-e3r-oIiDxt23O739A5Xnl">Twitter ASP.NET Core Course</a>
            <p></p>
            <p style="font-size:18px;">I'm always open to working on meaningful projects, so if you have one that needs well-written software please contact me!</p>
        </div>
        <div class="col-md-3">
            <img class="img-fluid" src="~/lib/ian_secondary.jpg" alt="Responsive image">
        </div>
    </div>
